@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DynaPuff", cursive;
}

.canvas {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
}

body {
  min-height: 25%;
  background: linear-gradient(#868686, #000000);
}

.navbar-container {
  display: flex;
}

.navbar {
  max-width: 1560px;
  padding: 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

ul {
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 20px;
}

ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #ffff;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

ul li a:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

ul li a:active{
  box-shadow: inset 0 0 8px rgba(0,0,0,0.5);
  transition: all 0.3s ease-in-out
}

.jumping-letters {  /* make the transformation smooth over 0.5 seconds */
  animation: jump 1s infinite;
  transition: all 0.3s ease-in-out;  /* apply the jump animation */
}

@keyframes jump {
  50% {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out  /* move the letters up by 10 pixels */
  }
}

.hello {
  color: #ffff;
  display: grid;
  margin: 0;
  padding: 100px;
  place-items: center;
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

.text {
  flex: auto;
  color: white;
  white-space: nowarp;
  font-size: 5vw;
  font-size: 1em;
  z-index: 5;
}
.projects {
  position: relative;
  color: #000000;
}

.education {
  position: relative;
  color: #000000;
}

.aboutme {
  position: relative;
  color: #000000;
}

.resume {
  position: relative;
  color: #000000;
}

.body-container1 {
  background-color: #fff;
  align-items: center;
  border-radius: 6px;
  box-sizing: content-box;
  margin: 0px auto;
  max-width: 75vw;
  padding: 15px;
  width: 100%;
}

.body-container1 {
  background-color: #fff;
  align-items: center;
  border-radius: 6px;
  box-sizing: content-box;
  margin: 0px auto;
  max-width: 75vw;
  padding: 15px;
  width: 100%;
}

.body-container2 {
  background-color: #fff;
  align-items: center;
  border-radius: 6px;
  box-sizing: content-box;
  margin: 0px auto;
  max-width: 75vw;
  padding: 15px;
  width: 100%;
}

.body-container3 {
  background-color: #fff;
  align-items: center;
  border-radius: 6px;
  box-sizing: content-box;
  margin: 0px auto;
  max-width: 75vw;
  padding: 15px;
  width: 100%;
}

.body-container4 {
  background-color: #fff;
  align-items: center;
  border-radius: 6px;
  box-sizing: content-box;
  margin: 0px auto;
  max-width: 75vw;
  padding: 15px;
  width: 100%;
}

.sec {
  padding-bottom: 50px;
  border-radius: 6px;
}
